@font-face {
    font-family: "JosefinSans";
    src: url(images/JosefinSans-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}


.font{
    font-family: "JosefinSans";
    color: white;
}

body{
    background-color: #060125 !important;

}

.bgclr{
    background-image: url(images/background.png) !important;
    background-color: #060125;
 padding-bottom: 50px;
 background-repeat: no-repeat;
 height: 100%;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 20px;
}

.login-container {
    height: 100vh;
}
.my-con{
    padding: 12px !important;
}
.my-nav{
    padding: 15px !important;
    border-radius: 10px;

}
.my-nav ul li a{
    color: white;
    font-family:  "JosefinSans";
}
.my-nav ul li a:hover{
    color: rgba(255, 255, 255, 0.479);

}
.my-slider{
    border-radius: 10px !important;

}
.my-btn {
    background-color: orange !important;
    width: 100%;
    border-color: orange !important;
    
}

.my-header {
    background-color: #07012F; 
    
    
}

.theme-btn {
    color: white !important;
    background: -webkit-gradient(linear, left top, right top, from(#a146e8), color-stop(35%, #6c63d0), to(#387db8));
    background: linear-gradient(90deg, #a146e8 0%, #6c63d0 35%, #387db8 100%);
    border: 1px solid rgba(255, 255, 255, 0.226) !important;
    width: 150px;
    font-family:  "JosefinSans" !important;
    margin-right: 10px;
}

.navbar-brand {
    margin-bottom: 5px !important;
}
.navbar-brand img{
    width: 150px;
}



.my-card-2{
    background-color: rgba(95, 158, 160, 0) !important;
    padding-bottom:20px !important ;
}
.my-card {
    height: 150px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.151) !important;
    margin-bottom: 10px !important;
    text-align: center;
}
.my-card>div>img{
  
   padding-bottom: 10px;
} 
.my-card>div>h4 {
    font-size: 18px;
    color: rgb(255, 255,255);
    font-family: "JosefinSans";

}

.my-card>div>span {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.432);
}

.theme-btn-a {
    background-color: #030a13 !important;
    width: 100%;
    border-color: #030a13 !important;
    margin-top: 10px;
}

.product-price {
    color: #030a13;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.del-price {
    color: grey;
    font-weight: normal;
}

.product-card {
    position: relative;
    margin-bottom: 10px;
    margin: 5px;
    background-color: #ffffff10 !important;
    border: 1px solid rgba(255, 255, 255, 0.192) !important;
}
.product-card img{
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
    padding: 20px !important;
    
}
.sale-badge {
    background-color: #000000;
    color: #fff;
    width: 70px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    right: 35px;
    top: 35px;
}
.sale-badge i{
    margin-right: 5px;
}

.my-item{
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: flex-end !important;
}

.carousel-item img{
    width: 100% !important;
 
}

.heading h3{
    font-size: 40px !important;
    
}
.my-head{
    display: flex !important;
 justify-content: center;
     flex-direction: column !important;
}
.h4 h4{
    color: white;
}
.h1 h1{
    color: white;
    font-size: 80px;
    font-family: "JosefinSans";

}
.para{
    font-size: medium;
    color: rgba(255, 255, 255, 0.644);
    margin-top: 20px;
    line-height: 22px;
    font-weight: 300;
}
.spn-grn{
color: #43B4A0;
margin-bottom: 10px;
font-family: "JosefinSans";

}

.card-bg{
    background-color: #060125;

}
.card-body{
    padding: 0 !important;
}
.user-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-upper{
display: flex;
align-items: center;
}

.user-upper img{
    border-radius: 45px;
   
}

.user-upper > div > span{
    color: rgba(255, 255, 255, 0.726);
    font-size: small;
}
.user-upper > div > p{
    color: white;
}
.user-names{
    padding-top: 15px;
}
.user-sider{
margin-right: 20px;
}
.user-sider > div > span{
    color: rgba(255, 255, 255, 0.726);
    font-size: small;
}

.user-lower{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px 10px 25px;
}
.user-lower p{
    padding: none !important;
}
.user-lower span{
    background-color: #ffffff10 !important; 

    height: 30px;
    text-align: center;
    padding: 5px;
}
.top-seller{
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.151) !important;
    padding: 15px;
    margin-bottom: 20px;
}
.top-seller img{
    margin-right: 20px;
}
.my-and{
    padding-top: 20px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #060125;
    font-family: "JosefinSans";
    padding: 30px 70px 30px 70px;
    border-top: 1px solid rgba(255, 255, 255, 0.192);

}

footer ul li{
    list-style-type: none;
}
footer ul li i{
color: #43B4A0;
margin-right: 10px;}
.wdh-1{
    width: 40%;
    color: white;
    padding: 20px;
}
.wdh{
    width: 20%;
    color: white;
    padding: 20px;
    margin-top: 10px;

}
.wdh ul li h5{
    font-weight: bold;
    margin-bottom: 10px;
}
.wdh ul li{
    margin-bottom: 20px;
}
.copy-right{
    text-align: center;
    color:  #fff;
    font-family: "JosefinSans";
border-top: 1px solid rgba(255, 255, 255, 0.192);
padding-top: 20px;

}

.icons{
    margin-top: 20px;

}
.icons i {
    padding-right: 20px;
}
@media screen and (max-width:950px) {
    .bgclr{
        background-image: none !important;
        background: rgb(159,16,116) !important;
        background: radial-gradient(circle, rgba(159,16,116,0.5438550420168067) 0%, rgba(37,4,53,1) 48%, rgba(6,1,37,1) 61%, rgba(6,1,37,1) 100%)  !important;
        }
        
}


@media screen and (max-width:700px) {
    .flx-btn{
         display: flex;
         justify-content: center;
    }
    .nav-item{
        border-bottom: 1px solid rgba(85, 85, 85, 0.514);
    }
    .spn-grn  {
    text-align: center;
    margin-bottom: 10px !important;
}
    .carousel-item img{
        width: 300px !important;
      
    }
   
.my-head{
    margin-bottom: 20px;
}
    .h4 h4{
        color: white;
        font-size: 20px;
        text-align: center;
    }
    .h1 h1{
        color: white;
        font-size: 40px;
        text-align: center;

    }
    .para{
        text-align: center;
    }
    .seemore-btn {
        text-align: center;
    }
    .my-item{
        align-items: center !important;

    }
    .img-22 img{
        margin-bottom: 20px;
       }
       footer{
        display: block;
        padding: 15px;
    }
    .wdh{
        width: 100%;
    margin-top: 10px;
    }
    .wdh-1{
        width: 100%;
    margin-top: 10px;
    }
}